@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<input type="hidden" id="profileId" value="@Model.Profile.Id" />

<section id="home" class="banner-section pt-page" style="background-image: url('img/home-bg.jpg')">
    <div id="particles-js"></div>

    <div class="banner-content">
        <h1 class="mb-20">Bujar <span>Ademi</span></h1>

        <p class="cd-headline clip is-full-width">
            <span>I am a </span>
            <span class="cd-words-wrapper">
                <b class="is-visible">.NET Developer</b>
                <b>Web Developer</b>
                <b>Database Developer</b>
            </span>
        </p>

    </div>
</section>

<section id="about" class="about-section pt-page">
    
</section>

<section id="resume" class="resume-section pt-page">
  
</section>

<section id="contact" class="contact-section pt-page">
   
</section>